@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "contact.scss";
@import "_modal.scss";
@import "bootstrap-overrides.scss";

.icon {
  height: 1.5rem;
}

body.no-scroll {overflow:hidden;}

footer {
  //background: darken($gray-800, 5%);
  background: $primary;
}

#about {
  background-image: url(../img/bg-yellow.jpg);
}

#aboutCar {
position: relative;
  //background-image: url(../img/bg.jpg);
  //background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }    
  }

  @media (max-width: 767px) {
    padding-top: 0;
      .image {
        position: relative;
        width: 100%;
        height: 20rem;
        margin-bottom: 3rem;
      }
    }
}

#faq {
  position: relative;
  &:before {
    content: "";
    //opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 48%;
    background-color: darken($gray-800, 5%);
    //background-image: url("https://c.wallhere.com/photos/ee/ab/honda_s2000_honda_rear_view_night-1003561.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (max-width: 767px) {
    &:before {content: none;}
    padding-top: 0;

    .col-faq {
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: darken($gray-800, 5%);
    }
  }
}

.review {
  width: 80%;
  display: inline-block;
  &__photo {
    position: relative;
    max-width: 130px;
    border-radius: 50%;
    border: 3px solid $primary;
    overflow: hidden;
    margin: 0 auto 2rem auto;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      max-height: 100%;
      min-width: 100%;
      transform: translateX(-50%);
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  &__text {
    i {
      color: $primary;
      top: -.3em;
      margin-right: .5em;
      position: relative;
    }
    &:before {
      //content: '"';
      color: $primary;
      font-size: 2em;
    }
  }
}

.faq {
  border-bottom: 1px solid rgba($white, .2);
  margin-bottom: 1em;
  padding: 0 1rem;
  .far {
    font-size: 1.2em;
    margin-right: .5em;
  }

  &__question {
    position: relative;
    .fa-caret-down {
      position: absolute;
      right: 0;
    }
  }
}

#prices {
background-color: black;
position: relative;
  &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .25;
      background-image: url('../img/prices.jpg');  
      background-position: center 75%;
      @include background-cover;
  }
}

.prices-table {
  border: 1px solid rgba(white, .1);
  padding: 3rem !important;

  @media (max-width: 767px) {
    padding: 2.5rem 1rem !important;
  }

  h4 {margin-bottom: 2rem;}
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: auto;
  z-index: 999;
  text-align: center; 
  transform: scale(0);
  a {background-color: rgba(black, .5);}
  a i {animation-name: none;}

  &.visible {transform: scale(1);}
}