<section class="contact" id="contact">
    <div class="container text-center">
        <div class="contact__info">
            <h2 class="contact__heading">Zamluvte si jízdu</h2>
            <a href="tel:+420605226260">+420 605 226 260</a>
            <a href="mailto:pujcovnamx5@gmail.com">pujcovnamx5@gmail.com</a>
        </div>
        <div class="contact__social">
            <a href="https://www.facebook.com/P%C5%AFj%C4%8Dovna-Mazda-MX5-107245796794920/">
                <img src="img/facebook.svg" alt="facebook"/>
            </a>
            <a href="https://www.instagram.com/pujcovnamx5/">
                <img src="img/instagram.svg" alt="instagram"/>
            </a>
        </div>
    </div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="/js/bootstrap-native-v4.min.js"></script>
