body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(225, 225, 225, 0.25);
  padding-bottom: 5rem;
}

.link-normal {
  color: inherit;
}

#mainNav {
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#mainNav .navbar-brand {
  position: relative;
}

#mainNav .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#mainNav .logo--white {
  opacity: 0;
}

#mainNav.open {
  background-color: #eb443a;
}

#mainNav.open .logo--black {
  opacity: 0;
}

#mainNav.open .navbar-toggler {
  color: white;
}

#mainNav.open .navbar-toggler .line {
  position: absolute;
  top: .5em;
  left: .25em;
}

#mainNav.open .navbar-toggler .line:first-child {
  transform: rotate(45deg);
}

#mainNav.open .navbar-toggler .line:nth-child(2) {
  display: none;
}

#mainNav.open .navbar-toggler .line:last-child {
  transform: rotate(-45deg);
}

#mainNav.open .navbar-title {
  opacity: 0;
}

#mainNav .navbar-nav {
  padding-left: 3rem;
  padding-right: 3rem;
  height: calc(100vh - 2rem - 38px);
  justify-content: center;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.88;
  padding-top: 0;
  padding-bottom: 0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #eb443a;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #eb443a !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav .navbar-toggler {
  border: none;
}

.navbar-title, .navbar-title a {
  font-weight: 600;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-title:hover, .navbar-title a:hover {
  color: #eb443a;
}

.navbar-toggler {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  text-align: center;
  font-size: 1rem;
}

.navbar-toggler .line {
  display: block;
  width: 1em;
  height: .1em;
  background-color: currentColor;
  margin: .2em auto;
  transition: .2s;
}
